<!DOCTYPE html>
<html>
<head>
  <title>COVID VACCINATION BOOKING</title>
  <link href="/assets/style.css" rel="stylesheet" >
</head>
<body>
  <h1>COVID VACCINATION BOOKING</h1>

  <form action="/admin/login" method="GET">
    <button type="submit">Admin</button>
  </form>

  <form action="/user/login" method="GET">
    <button type="submit">User</button>
  </form>
</body>
</html>
